<%= form_with(model: @beer, local: true, :id =>"form", :class=>"topBefore") do |form| %>

  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@beer.errors.count, "error") %> prohibited
        this beer from being saved:
      </h2>
      <ul>
        <% @beer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :tagline %><br>
    <%= form.text_area :tagline %>
  </p>

  <p>
    <%= form.label :abv %><br>
    <%= form.text_field :abv %>
  </p>

  <p>
    <%= form.label :tier %><br>
    <%= form.text_field :tier %>
  </p>

  <p>
    <%= form.label :IBU %><br>
    <%= form.text_field :ibu %>
  </p>

  <p>
    <%= form.label :image %><br>
	<%= form.select :image, options_for_select(%w[enbwlogo.svg miromiel.svg cumberlandpunch.svg augustfest.svg coconutcremepie.svg eastbank.svg hipsterdanceparty.svg krautrock.svg roamingdog.svg swingbridge.svg thegrievance.svg wescoast.svg woodlandstreet.svg younghickory.svg fireofthecentury.svg brutwillis.svg eastmeetsweiss.svg dunkel.svg]) %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :ontap %>
	<%= form.check_box :ontap %>
  </p>

  <p>
    <%= form.label :index %>
	<%= form.number_field :index %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
